body{
    background: linear-gradient(to right, #FFE4E1, #2F4F4F,#E0FFFF);
}
.wrap{
    width: 40%;
    margin: auto;
    color: white;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}
.string{
    padding: 5px;
    margin: 10%;
}
h1{
    text-align: center;
}
table{
    margin: auto;
    padding-bottom: 5px;
}
table td{
    padding: 5px;
}
button{
    width: 50px;
    font-family: 'Times New Roman', Times, serif;
    height: 30px;
    background-color: aqua;
    border-radius: 7px;
}